* {
  margin: 0;
  padding:0;
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Source Sans Pro', sans-serif; */
}

body {
  height: 90vh;
}
header {
  display: flex;
  align-items: center;
  background-color: #56b000;
}

#header-img {
  height: 75px;
  width: 100px;
  padding-left: 6%;
}
header img {
  height: 100%;
  width: 100%;
  object-fit:cover;
}
header h1 {
  font-family: 'Montserrat', sans-serif;
  color:white;
  font-size: 3em;
  text-align: center;
  font-weight: bolder;
  width: 100%;
  padding-right: 6%;
}

.app {
  background-color: gray;
}
.app img {
  height: 100%;
  width: 100%;
  object-fit:cover;

}

.small-logo {
  margin: 5px 5px;
  width: 9%;

}

.league img {
  height: 100%;
  width: 100%;
  object-fit:cover;

}

#main-section-league-logo, #club-logo-section, #player-card-section {
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
}

#club-crest {
  height: 33%;
  width: 33%;
  object-fit:cover;

}
footer {
  text-align: center;
  background-color: #56b000;
}

.matches-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.match-table-item {
  border: 1px solild white;
}

.league-prev-matches-table {
  display: grid;
  grid-template-columns: 1fr 1fr 20px 20px 1fr;
}
.league-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.id-section {
  display:flex;
}

.id-section img {
  width: 25%;
  margin: 0 10%;
}

.info-section {
  display: block;
}

.player-img {
  width: 25%;
  margin: 20px;
}
.player-card {
display: flex;
margin: 20px;
}

.bold-text {
  font-weight: bold;
}

.social-logo-div {
  height: 30px;
  width: 30px;
}
.player-section, #club-section, #league-section {
  min-height: 98vh;
}

